<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Extension Updates</key>
    <array>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>org.andyherbert.handledatabase</string>
            <key>Developer Identifier</key>
            <string>49WYP9H88Y</string>
            <key>CFBundleVersion</key>
            <string>2</string>
            <key>CFBundleShortVersionString</key>
            <string>1.1</string>
            <key>URL</key>
            <string>http://andyherbert.github.io/ansi-ascii-handle-database/builds/Ansi%20and%20Ascii%20Artists%20Handle%20Database.safariextz</string>
        </dict>
    </array>
</dict>
</plist>